<head>
  <link rel="stylesheet" href="./css/stylesheet.css">
  <link rel="icon" type="image/x-icon" href="./img/favicon.ico">
  <title>Annoncer</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/matter-js@0.17.1/build/matter.min.js"></script>
  <!--<script type="text/javascript" src="https://sc420.github.io/jellify-ur-website/js/jellify.js"></script>-->
</head>
<a href="./"> <img alt="Logo" src="./img/image.png"width="300" height="70"></a> 
<nav class="dropdown">
  <ul>
   <li><a href="./">Forside</a></li>
    <li><a href="#">Profil</a>
      <ul id="undermenu">
        <li><a href="./profil.html">Min profil</a></li>
      </ul>
    </li>
    <li><a href="#">Markedsplads</a>
      <ul id="undermenu">
        <li><a href="./annoncer.html">Vis annoncer</a></li>
        <li><a href="./opret-annonce.html">Opret annonce</a></li>
        <li><a href="./mine-annoncer.html">Mine annoncer</a></li>
        <li><a href="./fulgte-annoncer.html">Fulgte annoncer</a></li>
      </ul>
    </li>
    <li><a href="#">Admin</a>
      <ul id="undermenu">
        <li><a href="./admin-brugere.html">Brugere</a></li>
        <li><a href="./admin-statistik.html">Statistik</a></li>
      </ul>
    </li>
  </ul>
</nav>
<br>
<br><br>
<form>
</form>

  <div id="container">
    <ol id="tilføjItem" class="list listevisning-filter">
  </div>

  
  
<script src="admin-brugere.js"></script>