<head>
  <link rel="stylesheet" href="./css/stylesheet.css">
  <link rel="icon" type="image/x-icon" href="./img/favicon.ico">
  <title>Forside</title>
</head>
<a href="./"> <img alt="Logo" src="./img/image.png"width="300" height="70"></a> 
<nav class="dropdown">
<ul>
 <li><a href="./">Forside</a></li>
  <li><a href="#">Profil</a>
    <ul id="undermenu">
      <li><a href="./profil.html">Min profil</a></li>
    </ul>
  </li>
  <li><a href="#">Markedsplads</a>
    <ul id="undermenu">
      <li><a href="./annoncer.html">Vis annoncer</a></li>
      <li><a href="./opret-annonce.html">Opret annonce</a></li>
      <li><a href="./mine-annoncer.html">Mine annoncer</a></li>
      <li><a href="./fulgte-annoncer.html">Fulgte annoncer</a></li>
    </ul>
  </li>
  <li><a href="#">Admin</a>
    <ul id="undermenu">
      <li><a href="./admin-brugere.html">Brugere</a></li>
      <li><a href="./admin-statistik.html">Statistik</a></li>
    </ul>
  </li>
</ul>
</nav>
<br>
<br><br>
<form>
<label for="kategori">Vælg en kategori:</label>
<select name="kategori" id="kategori" onchange=opdaterKnap()>
    <option selected="selected" value="0" color="grey">Alle</option>
      <optgroup label="Hjemmet">
        <option value="1">Møbler</option>
        <option value="2">Boliger</option>
      </optgroup>
      <optgroup label="Hobby">
        <option value="3">Livsstil</option>
        <option value="4">Sport</option>
      </optgroup>
      <optgroup label="Køretøjer">
        <option value="5">Cykler</option>
        <option value="6">Motorcykler</option>
        <option value="7">Biler</option>
      </optgroup>
      <optgroup label="Tøj">
        <option value="8">Jakker</option>
        <option value="9">Bukser</option>
        <option value="10">Sko</option>
      </optgroup>
      <optgroup label="Diverse">
        <option value="11">Andet</option>
      </optgroup>
    </select>
    <label for="lokation">Vælg en lokation:</label>
<select name="lokation" id="lokation" onchange=opdaterKnap()>
    <option selected="selected" value="0" color="grey">Alle</option>
    <option value="1">Sjælland</option>
    <option value="2">Midtjylland</option>
    <option value="3">Nordjylland</option>
    <option value="4">Syddanmark</option>
    <option value="5">Bornholm</option>
    </select>
    <br>
    <button onclick=sortPris()>Sorter efter pris ⬇️</button>
    <button onclick=sortDate()>Sorter efter oprettelses dato ⬇️</button>
    <button onclick=sortEditDate()>Sorter efter sidst redigeret dato ⬇️</button>
</form>




  <div id="container">
    <ol id="tilføjItem" class="list listevisning-filter">
  </div>

  
  
<script src="annoncer.js"></script>