<head>
  <link rel="stylesheet" href="./css/stylesheet.css">
  <link rel="icon" type="image/x-icon" href="./img/favicon.ico">
  <title>Opret annonce</title>
</head>
<a href="./"> <img alt="Logo" src="./img/image.png"width="300" height="70"></a> 
<nav class="dropdown">
<ul>
 <li><a href="./">Forside</a></li>
  <li><a href="#">Profil</a>
    <ul id="undermenu">
      <li><a href="./opret-bruger.html">Opret bruger</a></li>
      <li><a href="./login.html">Login</a></li>
      <li><a href="./profil.html">Min profil</a></li>
    </ul>
  </li>
  <li><a href="#">Markedsplads</a>
    <ul id="undermenu">
      <li><a href="./annoncer.html">Vis annoncer</a></li>
      <li><a href="./opret-annonce.html">Opret annonce</a></li>
      <li><a href="./mine-annoncer.html">Mine annoncer</a></li>
    </ul>
  </li>
</ul>
</nav>

<br>
<br>
    <form ref='uploadForm' 
      id='uploadForm' 
      action='http://localhost:1337/api/produkter/' 
      method='post' 
      accept='image/*'
      maxfilesize='10000000'
      encType="multipart/form-data">
      <h3>Opret annonce</h3>
        <label for="titel">Titel: </label>
        <br>
        <input type="text" name="titel" required/>
        <br>
        <label for="pris" required>Pris (i kr.): </label>
        <br>
        <input type="number" name="pris" required/>
        <br>
        <label for="beskrivelse">Beskrivelse: </label>
        <br>
        <input type="text" name="beskrivelse" required/>
        <br>
        <label for="kategori" required>Vælg en kategori:</label>
        <br>
        <select id="kategori" name="kategori" required>
          <optgroup label="Hjemmet">
            <option value="1">Møbler</option>
            <option value="2">Boliger</option>
          </optgroup>
          <optgroup label="Hobby">
            <option value="3">Livsstil</option>
            <option value="4">Sport</option>
          </optgroup>
          <optgroup label="Køretøjer">
            <option value="5">Cykler</option>
            <option value="6">Motorcykler</option>
            <option value="7">Biler</option>
          </optgroup>
          <optgroup label="Tøj">
            <option value="8">Jakker</option>
            <option value="9">Bukser</option>
            <option value="10">Sko</option>
          </optgroup>
          <optgroup label="Diverse">
            <option value="11">Andet</option>
          </optgroup>
        </select>
        <br>
        <input id="id" type="hidden" value="" name="id"/>
        <br>
        <input type="file" name="billedeFil" required/>
        <br>
        <input id="submitknap" type='submit' value='Upload annonce' />
    </form>

    <script src="opret-annonce.js"></script>
