<head>
  <link rel="stylesheet" href="./css/stylesheet.css">
  <link rel="icon" type="image/x-icon" href="./img/favicon.ico">
  <title>Min profil</title>
</head>
<a href="./"> <img alt="Logo" src="./img/image.png"width="300" height="70"></a> 
<nav class="dropdown">
<ul>
 <li><a href="./">Forside</a></li>
  <li><a href="#">Profil</a>
    <ul id="undermenu">
      <li><a href="./opret-bruger.html">Opret bruger</a></li>
      <li><a href="./login.html">Login</a></li>
      <li><a href="./profil.html">Min profil</a></li>
    </ul>
  </li>
  <li><a href="#">Markedsplads</a>
    <ul id="undermenu">
      <li><a href="./annoncer.html">Vis annoncer</a></li>
      <li><a href="./opret-annonce.html">Opret annonce</a></li>
      <li><a href="./mine-annoncer.html">Mine annoncer</a></li>
    </ul>
  </li>
</ul>
</nav>
<br><br><br>
<div id="container">
    <ol id="tilføjItem" class="list listevisning-filter">
</div>
  <div id="container">
    <ul class="list listevisning-filter">
      <form id="form">
        <h3>Opdater profil-data:</h3>
        <label for="email">Email:</label>
        <br>
        <input type="email" placeholder="Ny email" id="email" required />
        <br>
        <label for="password">Password:</label>
        <br>
        <input type="text" placeholder="Nyt password" id="password" required />
        <br>
        <label for="navn">Navn:</label>
        <br>
        <input type="text" placeholder="Nyt navn" id="navn" value="navn" required/>
        <br>
        <label for="telefon">Telefon (f.eks 12345678):</label>
        <br>
        <input type="tel" placeholder="Telefon" id="telefon"
        pattern="[0-9]{8}"
        required>
        <br>
        <label for="lokation">Lokation:</label>
        <br>
        <select id="lokation" required>
          <option>Sjælland</option>
          <option>Midtjylland</option>
          <option>Nordjylland</option>
          <option>Syddanmark</option>
          <option>Bornholm</option>
        </select>        <br>
        <input value="Opdater profil" type="submit" />
      </form>
      <form class="knapclass">
        <button class="sletknap" id="logudknap">Log ud</button>
      </form>
      <form class="knapclass">
        <button class="sletknap" id="sletbrugerknap">Slet bruger</button>
      </form>
    </ul>
  </div>

  


<script src="./profil.js"></script>

